@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    max-height: 100%;
}

body {
    background-color: rgb(246, 245, 245);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header__link {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.2em;
}

.header__logo {
    display: flex;
    flex: 1;
    text-align: center;
}


.main__background {
    width: 100%;
}

.menu {
    position: relative;
    top: -3em;
    background-color: rgb(246, 245, 245);
    border-radius: 3em 3em 0 0;
}

.menu__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 25px;
}

.menu__header--title {
    font-style: italic;
}

.menu__header--heart {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 10px;
}

.menu__footer {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

/*
    Button
*/
.order__button {
    display: flex;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 15px;
    width: 180px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-color: #FF79DA;
    border-radius: 2rem 2rem 2rem 2rem;
    outline: none;
    color: #FFF;
}

/*
    MENU
*/

.menu {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.menu__containers {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.menu__containers--header {
    width: 100%;
    margin-bottom: 15px;
}

.menu__containers--title {
    width: 50px;
    opacity: 0.6;
    border-bottom: 5px solid rgb(113, 214, 206);
}

.menu__item {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 15px;
    max-width: 290px;
    width: 100%;
    height: 78px;
    animation: menuitem 1.5s;
    transition: .5s;
    overflow: hidden;
}
.menu__item--content h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__item--content p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__item--content {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-size: 0.68em;
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__item--price {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 15px;
}

.menu__item--confirmation {
    position: relative;
    height: 78px;
    width: 0px;
    background-color: rgb(137, 212, 137);
    border-radius: 0 1rem 1rem 0;
    transition: 1s ease-in-out;
    
}

.menu__item--checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__item--icon {
    font-size: 1.3em;
    color: #FFF;
    transform: rotate(180deg);
    transition-duration: 1s;
}

/*
ANIMATION: MENU__ITEM
*/

.menu__item:hover .menu__item--confirmation {
    display: block;
    animation: confirm 0.4s ease-in-out;
    width: 78px;
}
.menu__item:hover .menu__item--icon {
    animation: rotate .5s;
    transform: rotate(0deg);
}

/*
.menu__item:hover .menu__item--checked {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: rgb(137, 212, 137);
    font-size: 1.2em;
    border-radius: 0 1rem 1rem 0;
    height: 78px;
    flex: 1;
    transform: rotate(0);
}

.menu__item:hover .fa-check-circle {
    color: #FFF;
    animation: rotate 1.5s ease;
}
*/

/*
    FOOTER
*/
.footer {
    padding: 15px;
    background-color: rgb(70, 69, 69);
}

.footer__title {
    margin-bottom: 15px;
    color: #FFF;
    font-style: italic;
}

.footer__link--list {
    display: flex;
    flex-flow: column wrap;
}

.footer__link {
    text-decoration: none;
    color: #FFF;
    margin-bottom: 5px;
}

@media only screen and (min-width: 1024px) {
    .main__background {
        height: 800px;
        object-fit: cover;
    }

    .footer__title {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .footer__link--list {
        display: flex;
        align-content: center;
    }

}